.container {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-container {
  width: 550px;
  height: 680px;
  background-color: goldenrod;
  border: 2.5px solid black;
  border-radius: 30px;
}

.output-container,
.buttons-container {
  width: 90%;
  margin: auto;
}

.output-container {
  background-color: azure;
  height: 80px;
  margin-top: 20px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
  border: 0.5px black solid;
  border-radius: 30px;
}

.buttons-container {
  margin-top: 40px;
  height: 520px;
  display: flex;
}

.numbers-container,
.operation-container {
  height: 100%;
}

.numbers-container {
  background-color: blanchedalmond;
  flex: 3;
  display: flex;
  flex-direction: column;
}

.numbers-container .buttons-row {
  display: flex;
  flex: 1;
}

button {
  border: 0.7px black solid;
  padding: 15px;
  background-color: beige;
  text-align: center;
  flex: 1;
}

.operations-container {
  background-color: tomato;
  flex: 1;
  display: flex;
  flex-direction: column;
}
